* {
  box-sizing: border-box;
}

body {
  background: rosybrown;
  display: flex;
  justify-content: center;
}

.general-wrapper {
  background: green;
  display: flex;
  flex-direction: row;
}

.template-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: orange;
}

.template-title {
  text-align: center;
}

.template-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--red-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 30px;
  user-select: none;
}

.template-image {
  align-self: center;
  background-color: rosybrown;
}

.ready-image {
  width: 350px;
  height: 350px;
}

.game-container {
  background: tomato;
  width: 430px;
  height: 483px;
  margin: 20px;
}


@media (max-width: 950px) {
  .general-wrapper {
    flex-direction: column-reverse;
  }

}